@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --main-color: black;
    --accent-color: red;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, body, header, div, a, nav, ul, li {
    margin: 0;
    padding: 0;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.top-header .search {
    
}

.top-header .menu .main li{
    list-style-type: none;
}

.top-header .top-menu li a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    padding: 2px;
    color: var(--main-color);
}

@media (min-width: 600px) {
    .top-header nav {
        display: flex;
        align-items: center;
    }